server:
  port: 8999
  address: 0.0.0.0

spring:
  application:
    name: quick-access-backend
  datasource:
    url: jdbc:mysql://localhost:3306/quick_access?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

app:
  admin-key: 123456

